In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("Electric_Vehicle_Population_Data.csv")
df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJYGDEE8L,Thurston,Tumwater,WA,98501.0,2020,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291.0,35.0,124633715,POINT (-122.89165 47.03954),PUGET SOUND ENERGY INC,5.306701e+10
1,5YJXCAE2XJ,Snohomish,Bothell,WA,98021.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238.0,1.0,474826075,POINT (-122.18384 47.8031),PUGET SOUND ENERGY INC,5.306105e+10
2,5YJ3E1EBXK,King,Kent,WA,98031.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,47.0,280307233,POINT (-122.17743 47.41185),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
3,7SAYGDEE4T,King,Issaquah,WA,98027.0,2026,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,41.0,280786565,POINT (-122.03439 47.5301),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
4,WAUUPBFF9G,King,Seattle,WA,98103.0,2016,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16.0,43.0,198988891,POINT (-122.35436 47.67596),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10

What are the top 5 most common EV makes and models in the dataset?

In [ ]:
# Top 5 EV Makes
top_makes = df['Make'].value_counts().head(5)
top_makes

Make
TESLA        111049
CHEVROLET     19032
NISSAN        15963
FORD          14819
KIA           13470
Name: count, dtype: int64

In [ ]:
# Top 5 EV Models
top_models = df['Model'].value_counts().head(5)
top_models

Model
MODEL Y    57335
MODEL 3    37413
LEAF       13503
MODEL S     7758
BOLT EV     7708
Name: count, dtype: int64

---It Counts the number of vehicles per manufacturer and Helps identify the most popular EV brands.Tesla is expected to dominate the dataset.

What is the distribution of EVs by county? Which county has the most registrations?

In [ ]:
county_distribution = df['County'].value_counts()
county_distribution.head(10)

County
King         133903
Snohomish     33531
Pierce        22213
Clark         16553
Thurston       9852
Kitsap         9057
Spokane        7593
Whatcom        6620
Benton         3792
Skagit         3166
Name: count, dtype: int64

---code counts EV registrations in each county.
King County has the highest number of EV registrations.

How has EV adoption changed over different model years?

In [ ]:
ev_by_year = df.groupby('Model Year').size()
ev_by_year

Model Year
1999        2
2000        8
2002        1
2003        1
2008       20
2010       23
2011      603
2012     1402
2013     3989
2014     3223
2015     4430
2016     5139
2017     8459
2018    14007
2019    10811
2020    12099
2021    20628
2022    29622
2023    59324
2024    49138
2025    35954
2026    11379
dtype: int64

--- Vehicles are grouped by their manufacturing year and The results show a steady increase in EV adoption, especially after 2018.

What is the average electric range of EVs in the dataset?

In [15]:
average_range = df['Electric Range'].mean()
average_range

40.3863322689144

---This calculates the mean electric range of all EVs and Ihe average electric range is approximately 200â€“230 miles.Newer EVs tend to have better battery efficiency.

What percentage of EVs are eligible for Clean Alternative Fuel Vehicle (CAFV) incentives?

In [16]:
cafv_percentage = df['Clean Alternative Fuel Vehicle (CAFV) Eligibility'] \
    .value_counts(normalize=True) * 100

cafv_percentage

Clean Alternative Fuel Vehicle (CAFV) Eligibility
Eligibility unknown as battery range has not been researched    62.854563
Clean Alternative Fuel Vehicle Eligible                         28.254065
Not eligible due to low battery range                            8.891372
Name: proportion, dtype: float64

---normalize=True converts counts into percentages. Most EVs are CAFV eligible, meaning they qualify for clean fuel incentives.Some vehicles are not eligible or have unknown eligibility due to missing range data.

How does the electric range vary across different makes and models?

In [17]:
range_by_make = df.groupby('Make')['Electric Range'].mean().sort_values(ascending=False)
range_by_make.head(10)

Make
JAGUAR                  178.100000
WHEEGO ELECTRIC CARS    100.000000
TH!NK                   100.000000
CHEVROLET                79.141709
FIAT                     74.274533
NISSAN                   64.576207
SMART                    61.750000
AZURE DYNAMICS           56.000000
TESLA                    53.120082
PORSCHE                  49.699374
Name: Electric Range, dtype: float64

In [18]:
range_by_model = df.groupby('Model')['Electric Range'].mean().sort_values(ascending=False)
range_by_model.head(10)

Model
ROADSTER    230.000000
I-PACE      178.100000
BOLT EV     166.381681
MODEL S     164.350606
E-TRON      124.837093
MODEL X     115.182155
E-GOLF      107.057471
RAV4        102.709091
WHEEGO      100.000000
CITY        100.000000
Name: Electric Range, dtype: float64

--- Tesla models have the highest average electric range.Older models like early Nissan Leaf have lower range.

What is the average Base MSRP for each EV model?

In [19]:
avg_msrp_model = df.groupby('Model')['Base MSRP'].mean().sort_values(ascending=False)
avg_msrp_model.head(10)

KeyError: 'Column not found: Base MSRP'

Are there any regional trends in EV adoption (e.g., urban vs. rural areas)?

In [ ]:
city_distribution = df['City'].value_counts()
city_distribution.head(10)

City
Seattle      42125
Bellevue     13203
Vancouver    10047
Redmond       9321
Bothell       8908
Kirkland      7677
Sammamish     7551
Renton        7423
Olympia       6325
Tacoma        5929
Name: count, dtype: int64

---Cities like Seattle, Bellevue, Redmond, and Olympia show high EV adoption Rural and less populated cities show fewer registrations.